.slider{
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}
.slider figure img{
    width: 20%;
    height: auto;
    float: left;
}
@keyframes slidy{
    0%{
       left:0%;
    }
      20%{
       left:0%;
    }
     25%{
       left:-100%;
    } 45%{
       left:-100%;
    }
     50%{
       left:-200%;
    }
     70%{
       left:-200%;
    }
    75%{
       left:-300%;
    }
    95%{
       left:-300%;
    }
    100%{
       left:-400%;
    }
    
}