html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#entete{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
}
.video_entete{
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}
.monsite{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    color: #1c7430;
    position: relative;
    font-family: fantasy;
}
#rechercher{
   position: relative;
   border: solid 0.5px #1c7430;
   border-left: none;
   border-right: none;
   background-color: #1c7430;
   margin-left: auto;margin-right: auto;
   width: 70%;
   min-height:5%;
   text-align: center;
   padding: 2%;
   margin-top: 31%;
}
#motcle{
    height: 30px;
    width: 300px;
    border: none;
    padding-left: 2px;
    background-color: #ffcccc;
}
.btfind{
   height: 30px;
   width: 300px;
   border: none;
   background-color: #FF6347;
   color: #ffffff;
}
@keyframes fondu{
    0%{background-image:url("../images/home_slider_1.jpg");}
    20%{background-image:url("../images/home_slider_2.jpg");}
    40%{background-image:url("../images/home_slider_3.jpg");}
    60%{background-image:url("../images/home_slider_4.jpg");}
    80%{background-image:url("../images/AIL.jpg");}
    100%{background-image:url("../images/home_slider_1.jpg");}
}
.d1{
        position: static;
	top: 0;
	left: 0;
	width: 100%;
	height: 65.5%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
        animation: fondu 15s ease-in-out infinite alternate;
    
}
.conteneur{
    max-width: 100%;
}
.d2{
        position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background-repeat: no-repeat;
	background-size: cover;
       	background-position: center center;   
        animation: fondu 15s ease-in-out infinite alternate;
}
.d1:hover, .d2:hover{
    animation-play-state: paused;
}
#articles{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    vertical-align: middle;
}
    #articles_img{
margin: 5px;
width: 130px;
height: 100px;
    }
    #info_denre{
        border: solid 1px #ffcccc;
        width: 150px;
        min-height: 200px;
        margin: 10px;
        padding-left: 20px;
        float: left;
    }
    b{
      color: #ffcccc;
      font-size: 18px;
    }
    nav{
    width: 31%;
    height: inherit;
    list-style: none;
/*    padding: 4px;
    margin: 5px;*/
    margin-top: 0%;
    background: #F2F2F2;
    position: absolute;
    float: left;    
    }
    nav_2{
    width: 31%;
    height: inherit;
    list-style: none;
    margin-top: 0%;
    /* background: #F2F2F2; */
    position: absolute;
    float: left;
    }
    #param{
        font-size: 16px;
        font-family: inherit;
        padding-bottom: 5px;
    }
    #ulmenu{
        list-style-type:none;
        padding-bottom: 10px;

        text-decoration: none;
    }
    /*style des liens et elements de liste*/
    .mv-item, .mv-item a {
        display: block;
    }
    /*style des liens */
    .mv-item a {
      margin: 1px 0;
      padding: 8px 20px;
      color:#666;
      background: #FFF;
      text-decoration: none;
    
    /*la transition pour les navigateurs*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    }
    /*style changeant en suvolet focus*/
    .mv-item a:hover, .mv-item a:focus {
        background: #1ABC9C;
        color: #FFF;
        padding-left: 30px;
    }
    #content{
        /*margin-top: 40%;*/
        margin-left: 31%;
        background-color: #FF6347;
        width: 69%;
        height: inherit;

    }
 #forml{
    display: block;
    margin-top: 0em;
}
.boutique{
    margin-top: 10%;
    margin-left: 10%;
}