.widget_widget_crp_holder{
    width: 100%;
}

.widget_widget_crp_holder.relative{
    position: relative;
}

.widget_widget_crp_holder.relative .widget_widget_crp{
    position: fixed;
    top: 20px;
}

.widget_widget_crp{}

.widget_widget_crp .widget-content{}

.widget_widget_crp .widget-title{
    text-align: center;
}

.widget_widget_crp .crp_related_widget{}

.widget_widget_crp .crp_related_widget > ul{}

.widget_widget_crp .crp_related_widget > ul > li{}

.crp_related_widget > ul > li > a{
    text-decoration: none;
    color: #999;
}

.widget_widget_crp .crp_related_widget > ul > li > a > img{}

.widget_widget_crp .crp_related_widget > ul > li > a > .crp_title{
}

.crp_related_widget > ul > li > a:hover{
    color: #00a9f0;
    text-decoration: none;
}

.widget_widget_crp .crp_related_widget > ul > li > a:hover> .crp_title{
}

.widget_widget_crp .crp_related_widget > ul > li > a:hover{}

/*
    MOBILE
*/

@media (max-width: 788px){
    .crp-in-content{
    }

    .crp-in-content .widget-title{
        text-transform: capitalize;
        font-size: 1.5em;
        font-weight: 700;
        margin: 50px 0 20px;
        color: #444;
        line-height: 120%;
    }

    .crp-in-content .crp_related_widget{
    }

    .crp-in-content .crp_related_widget ul{
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-flow: column wrap;
    }

    .crp-in-content .crp_related_widget ul>li{
        margin-bottom: 20px;
    }

    .crp-in-content .crp_related_widget ul>li>a{

    }

    .crp-in-content .crp_related_widget ul>li>a>img{
        margin: 0 auto;
    }

    .crp-in-content .crp_related_widget ul>li>a>.crp_title{

    }
}