/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 avr. 2020, 15:33:34
    Author     : fakaloga
*/


div.ligne {
	width: 100%; /* Utile uniquement pour IE, pour émuler un contexte de formatage via le HasLayout */
	overflow: hidden;
}
div.ligne p.premier {
	width: 45%;
	float: left;
}
div.ligne p.second {
	margin-left: 50%;
}
div.ligne p label {
	/*display: block;*/
}