.icon-pages {
	background: url("./images/icon_pages.gif") no-repeat 0 50%;
}

li.breadcrumbs.icon-pages span:first-child > a {
	display: inline-block;
	padding-left: 17px;
}

.rtl .icon-pages {
	background-position: 100% 50%;
}

.rtl li.breadcrumbs.icon-pages span:first-child > a {
	padding-left: 0;
	padding-right: 19px;
}
