.bubble_profil {
	position: relative;
	height: 45px;
	padding: 0px;
	background: #EEEEEE;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	/*border: #CCC solid 1px;*/
	color:#888;
	display:inline-block;
	font-size:0.9em;
	padding: 10px 20px;
	margin:-20px 20px;
	transform:skew(-10deg);
}

.bubble_profil:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 20px 5px 0;
	border-color: transparent #EEEEEE;
	display: block;
	width: 0;
	z-index: 1;
	left: -17px;
	top: 10px;
}
/*
.bubble_profil:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 17px 8px 0;
	border-color: transparent #CCC;
	display: block;
	width: 0;
	z-index: 0;
	left: -18px;
	top: 15px;
}
*/
.bleu {
	color:#3B96E2;
}
.bgbleu {
	background-color:#3B96E2;
}
.orange {
	color:#F09541;
}
.bgorange {
	background-color:#F09541;
}

.bubble_header {
	position: relative;
	padding: 0px;
	background: #EEEEEE;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-top:-15px;
	margin-bottom:-90px;
	height: 150px;
	width:550px;
	text-align:center;
	padding:45px 40px;
	transform:skew(-10deg);
}

.bubble_header:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 25px 50px 5px 0;
	border-color: transparent #EEEEEE;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -8px;
	left: -50px;
	top: 30%;
}

.codebox p {
	font-size:14px;
	margin-bottom:0px;
	text-align:right;
}

.phpbb_alert {
	color:#222222;
}

.anchor { 
   display: block; 
   position: relative; 
   top: -110px; 
   visibility: hidden;
}
code {
	white-space: pre-wrap;
}